* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121212;
  --card-color: #1e1e1e;
  --border-width: 2px;
  --border-radius: 8px;
  --border-color: #383737;
  --bg-hover: #ffffff1f;
  --border-hover: #ffffff3f;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#cards {
  max-width: 966px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  height: fit-content;
  padding: 1rem;
}

.card {
  width: 260px;
  height: 260px;
  background-color: var(--border-color);
  border-radius: var(--border-radius);
  position: relative;
}

.card > .card-content {
  position: absolute;
  border-radius: calc(var(--border-radius) - var(--border-width));
  inset: var(--border-width);
  background-color: var(--card-color);
}

.card::after,
.card > .card-border {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.card::after {
  content: "";
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    var(--bg-hover) 0%,
    transparent 40%
  );
}

.card > .card-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.5) 0%,
    transparent 40%
  );
}

.card:hover::after {
  opacity: 1;
}

#cards:hover > .card > .card-border {
  opacity: 1;
}

.debug {
  border: 1px solid red !important;
}
.debug > * {
  border: 1px solid green !important;
}
.debug > * {
  border: 1px solid blue !important;
}
